.cart-page {
  width:100%;
  margin: 1em 1em;

  .cart-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row;
    align-content: center;
    align-self: center;
    margin: 20% 42%;
  }

  .cart-checkIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    padding: 3rem;
    margin-bottom: 3em;
  }

  .cart-details {
    display: flex;
    flex-direction: column;
    padding: 5rem;

    .cart-deleteButton{
      max-width: 70%;
      background-color: #d9534f;
      padding: 1em;
    }

    .info {
      padding-bottom: 2rem;

      .info-row {
        display: flex;
        flex-direction: row;

        .label {
          font-weight: 600;
          padding-right: 0.3rem;
        }
      }
    }
  }
}
