.modal {
  &-message-error {
    background-color: @color-alert;
    color: @color-neutral;
  }

  &-form {
    background-color: @color-button-background;
    color: @color-neutral;
  }

  &-success{
    background-color: @color-success;
    color: @color-neutral;
  }
}
