
.shop-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width:100%;
}


.shop-previous-button {
  max-width: 10em;
  margin-left: 3em;
  padding: 3em;
}

.shop-next-button {
  max-width: 10em;
  margin-right: 3em;
  float: right;
  padding: 3em;
}

.shop-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: row;
  align-content: center;
  align-self: center;
  margin: 20% 42%;
}


.shop-cart {
  position: fixed;
  margin: .1em .3em;

  &-button {
    max-width: 6em;
    height: auto;
    margin-right: 1em;
    padding: 2em;
  }

}







